*{
    line-height: 1.7;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: white;
}

.navbar-brand{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #666;
}

.nav-link{
  font-weight: 700;
  transition: 0.3s;
  display: inline-block;
}
.nav-link:hover{
    color: blue;
    scale: 1.03; 
   
  }
  
.body-container{
    background-color:rgba(245, 245, 245, 0.8);
}

.Primary-heading{
    padding-top: 200px;
    text-align: center;
    }

  .name {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.6rem;
    letter-spacing: 3px;
}

.text-primary-1 {
    color: #333;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    
}
    
.profile-picture {
    max-width: 70px; 
    border-radius: 50%; 
    border: 3px solid #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}


.skills{
    display: flex;
    flex-wrap: wrap;
}

.skill {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

h2 {
 text-align: center;
 margin-bottom: 30px;
}

.description-about{
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
}


.view{
    text-align: center;
    justify-content: center;
}

.submit{
    text-align: center;
    margin: 10px;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: justify;
}

.contactinfo p {
    text-align: left; 
}


.conect_social{
    margin-top: 50px;
    margin-bottom: 20px;
   
}

.container1{
    max-width: 95%;
}

.row{
    margin-top: 10px;
}
/*.projects{
   margin: 5px;
    box-shadow: 10px 0px 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(250, 249, 247);
    
}*/

.contact_form{
    background-color: rgb(219, 217, 217);
    padding: 50px;
    border-radius: 30px;
    max-width: 800px;
    align-items: center;
    justify-content: center;
}

.input{
    margin-top: 20px;
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    border: none;
}

textarea{
    min-height: 500px;
}



